<div>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">{{ title }}</a>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="home"
            routerLinkActive="active"
            href=""
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="dashboard">Dashboard</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
</div>

<!--

STYLING THE NAVBAR

We will use bootstrap to style the navbar. Don't worry if you are not familiar with bootstrap. You can proceed without bootstrap if you like.
I have used just about 5 bootstrap classes to implement the navbar just to give it a punch.

  Notice that the font of our app changes after adding bootstrap and reloading our app. This is a confirmation that Bootstrap is working


   navbar- tells bootstrap to apply a navbar container style to the nav element
   navbar-expand-?? tells BS to display the menu items inline (next to one another). If this is not specified, the menu items will be assume a vertical layout(block format)
   bg-body-tertiary - applies a tertiary background color (lightgray) to the nav element

   container-fluid??

   nav-link- this class styles the link tags by adding padding and removing their default styles (blue color and underlines). Without them, the links are squished together

   After specifying the nav-link classes, you'll notice that our home component has a darker contrast compared to remaining links. This is because we specified routerLinkActive="active" for home component above.


   ** If you inspect any of the link elements, you'll notice that they all have a href class which specifies their reltive route paths. For example, on inspecting **About**, there's a href="/about". This class is added by Angular whenever you use the routerlink

   Now that we are done implementing a basic navbar with the help of BS for styling, It's time to link implement our routes.

   At this junction, we have implemented basic routing and understand what routing is. The interface above would still work without routing. However, the browser would have no way of telling were we are via the URLs in the address bar. With routing, the browser is able to specify relative paths with respect to our root component. Without routing, you would not be able to navigate to specific places in your app through the address bar

-->
